<mat-toolbar>
  <span>Editing: {{user?.userName}}</span>
</mat-toolbar>
<mat-card >
  <mat-card-content>
    <form class="form-container" [formGroup]="editForm" (ngSubmit)="updateUser()">

      <mat-form-field>
        <mat-label for="firstName">First Name: </mat-label>
        <input matInput id="firstName" required formControlName="firstName" name="firstName" placeholder="name">
      </mat-form-field>

      <mat-form-field>
        <mat-label for="lastName">Last Name: </mat-label>
        <input matInput id="lastName" required formControlName="lastName" name="lastName" placeholder="name">
      </mat-form-field>

      <mat-form-field>
        <mat-label for="email">Email: </mat-label>
        <input matInput id="email" required formControlName="email" name="email" placeholder="email">
      </mat-form-field>

      <div>
        <a mat-raised-button routerLink="/">cancel</a>
        <button mat-raised-button color="primary" [disabled]="!editForm.valid">submit</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
