<mat-card >
  <mat-card-header>
    <h2>{{user.userName}}</h2>
  </mat-card-header>
  <mat-card-content>
    <p>{{user.firstName}} {{user.lastName}}</p>
    <p>{{user.email}}</p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button>
      <mat-icon aria-hidden="false" aria-label="edit icon" fontIcon="edit"></mat-icon>
    </button>
    <button mat-raised-button (click)="openDeleteDialog()">
      <mat-icon aria-hidden="false" aria-label="delete icon" fontIcon="delete"></mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
